<!-- summary -->
<div class="chart">
  <div id="container" style="width:50%; height:400px; margin: auto" class="text-center">
  </div>
  <p class="text-center" style="font-size:smaller;color:gray"><em>Note: Data last updated as of {{ dateLastModified }}</em></p>
</div>
<div class="chart">
  <div id="lineContainer" style="width:50%; height:400px; margin: auto" class="text-center">
  </div>
</div>
<!-- detailed info -->
<app-subinfo></app-subinfo>
<div class="chart">
  <div id="statesContainer" style="width:90%; height:500px; margin: auto" class="text-center">
  </div>
</div>
<app-dropdown></app-dropdown>
<div class="chart">
  <div id="indivStateContainer" style="width:90%; height:500px; margin: auto" class="text-center">
  </div>
</div>


