<div class="text-center" style="margin:auto; width: 80%;">
  <br><br><br>
  <h5>Coronavirus (COVID-19) is an illness caused by a virus that can spread from person to person. 
    The virus that causes COVID-19 is a new coronavirus that has spread throughout the world. 
    You can become infected by coming into close contact (about 6 feet or two arm lengths) with a person who has COVID-19.
    COVID-19 is primarily spread from person to person.
    <em><span style="font-size:smaller;color:gray">Source: <a href="https://www.cdc.gov/coronavirus/2019-ncov/downloads/2019-ncov-factsheet.pdf" style="color:gray">CDC.gov</a></span></em>
  </h5>
  <br>
  <p style="color:orange">Disclaimer: Information contained herein is limited to US data only. 
  </p>
</div>
