<div class="jumbotron bg-dark text-light">
  <div class="text-center" style="margin:auto; width: 80%;">
    <br><br><br>
    <p style="color:orange"> COVID-19 data were collected, cross-checked, and published from 56 US states and territories. 
      These numbers were compiled to provide the most complete picture of the US COVID-19 testing effort and 
      the outbreak’s effects on the people and communities it strikes. The full dataset is updated daily between 5pm and 6pm Eastern Time,
      with limited additional updates as new information arrives.
      <span style="font-size:smaller;color:gray"><em> <a href="https://covidtracking.com/" style="color:gray">source: covidtracking.com</a></em> </span>
    </p>
    <br>
  </div>
</div>

