<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-md-4">
    <h5>Select By State</h5>
    <p>Note on cases: Following guidance from the CDC, many US states and territories now report both lab-confirmed cases and probable cases of COVID-19. 
      (To be considered a probable case, a patient must meet a specific combination of clinical, laboratory, or epidemiological criteria.) </p>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="selected.name" aria-placeholder="selected.name" [placeholder]="selected.name" (selectionChange)="onChange($event)">
          <mat-option *ngFor="let selection of selections" [value]="selection">
            {{selection.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>


